<%- include ('./partials/header.ejs');%>

<body>
    <%- include ('./partials/navbar.ejs'); %>
    <section class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form action="">
            <h3>Responda</h3>
            <label for="resposta">Resposta:</label>
            <textarea
                id="resposta"
                name=""
                placeholder="Digite sua resposta"
                class="form-control">
            </textarea>
            <br />
            <button type="submit" class="btn btn-dark">Responder</button>
        </form>
    </section>
</body>

<%- include ('./partials/footer.ejs'); %>
